"*":
  "exception-reporting":
    userId: "28a9e5b1-233d-1167-adf4-7ba1550921e1"
  welcome:
    showOnStartup: false
  linter:
    statusBar: "Show error if the cursor is in range"
  core:
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    projectHome: "~/code"
  "one-dark-ui":
    {}
  editor:
    invisibles:
      {}
    fontFamily: "Inconsolata for Powerline"
  "isotope-ui":
    {}
  minimap:
    {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
