"*":
  "exception-reporting":
    userId: "28a9e5b1-233d-1167-adf4-7ba1550921e1"
  welcome:
    showOnStartup: false
  linter:
    statusBar: "Show error if the cursor is in range"
  core:
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    projectHome: "~/code"
    audioBeep: false
  "one-dark-ui": {}
  editor:
    invisibles: {}
    fontFamily: "Inconsolata for Powerline"
  "isotope-ui": {}
  minimap:
    plugins:
      "git-diff": true
      linter: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "go-plus": {}
  "git-diff": {}
  "markdown-preview": {}
  "atom-beautify":
    _analyticsUserId: "1eed1c94-1ea6-4c4c-9088-a722452cdaa2"
